<h2>Please insert To do task</h2>
<form action="/todolist" method="POST">
  <h3>Please insert the Date (yyyymmdd format)</h3>
  <input type="text" id="date_yyyymmdd" name="date"><br>
  <h3>Please insert the action</h3>
  <input type="text" id="action_perform" name="action"><br>
  <h3>Please insert the message</h3>
  <input type="text" id="message_to_execute" name="item_or_message"><br>
  <input type="submit" value="Submit">
</form>
